In [124]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df = pd.read_csv('F:/Education/DS_Roadmap/ml/18_PCA/Exercise/heart.csv')
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [125]:
df.shape

(918, 12)

In [126]:
np.unique(df.ChestPainType)

array(['ASY', 'ATA', 'NAP', 'TA'], dtype=object)

In [127]:
df.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

In [128]:
df.isna().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

In [129]:
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [130]:
df['zscore_cholestrol'] = (df.Cholesterol-df.Cholesterol.mean())/df.Cholesterol.std()

In [131]:
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,zscore_cholestrol
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0,0.824621
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1,-0.171867
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0,0.769768
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1,0.138964
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0,-0.034736

In [132]:
df[df.zscore_cholestrol>3]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,zscore_cholestrol
76,32,M,ASY,118,529,0,Normal,130,N,0.0,Flat,1,3.018723
149,54,M,ASY,130,603,1,Normal,125,Y,1.0,Flat,1,3.695238
616,67,F,NAP,115,564,0,LVH,160,N,1.6,Flat,0,3.338696

In [133]:
df.shape

(918, 13)

In [134]:
df[df.zscore_cholestrol<-3]

Empty DataFrame
Columns: [Age, Sex, ChestPainType, RestingBP, Cholesterol, FastingBS, RestingECG, MaxHR, ExerciseAngina, Oldpeak, ST_Slope, HeartDisease, zscore_cholestrol]
Index: []

In [135]:
df[(df.zscore_cholestrol<-3) | (df.zscore_cholestrol>3)]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,zscore_cholestrol
76,32,M,ASY,118,529,0,Normal,130,N,0.0,Flat,1,3.018723
149,54,M,ASY,130,603,1,Normal,125,Y,1.0,Flat,1,3.695238
616,67,F,NAP,115,564,0,LVH,160,N,1.6,Flat,0,3.338696

In [136]:
df1 = df[(df.zscore_cholestrol>-3) & (df.zscore_cholestrol<3)]
df1.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,zscore_cholestrol
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0,0.824621
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1,-0.171867
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0,0.769768
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1,0.138964
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0,-0.034736

In [137]:
df1.shape

(915, 13)

In [138]:
df[df.RestingBP>(df.RestingBP.mean()+3*df.RestingBP.std())]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,zscore_cholestrol
109,39,M,ATA,190,241,0,Normal,106,N,0.0,Up,0,0.385800
241,54,M,ASY,200,198,0,Normal,142,Y,2.0,Flat,1,-0.007310
365,64,F,ASY,200,0,0,Normal,140,Y,1.0,Flat,1,-1.817444
399,61,M,NAP,200,0,1,ST,70,N,0.0,Flat,1,-1.817444
592,61,M,ASY,190,287,1,LVH,150,Y,2.0,Down,1,0.806337
732,56,F,ASY,200,288,1,LVH,133,Y,4.0,Down,1,0.815479
759,54,M,ATA,192,283,0,LVH,195,N,0.0,Up,1,0.769768

In [139]:
df2 = df1[df1.RestingBP<(df1.RestingBP.mean()+3*df1.RestingBP.std())]
df2.shape

(908, 13)

In [140]:
df2[df2.Oldpeak>(df2.Oldpeak.mean()+3*df2.Oldpeak.std())]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,zscore_cholestrol
166,50,M,ASY,140,231,0,ST,140,Y,5.0,Flat,1,0.294379
702,59,M,TA,178,270,0,LVH,145,N,4.2,Down,0,0.650921
771,55,M,ASY,140,217,0,Normal,111,Y,5.6,Down,1,0.166390
791,51,M,ASY,140,298,0,Normal,122,Y,4.2,Flat,1,0.906900
850,62,F,ASY,160,164,0,LVH,145,N,6.2,Down,1,-0.318141
900,58,M,ASY,114,318,0,ST,140,N,4.4,Down,1,1.089741

In [141]:
df3 = df2[df2.Oldpeak<(df2.Oldpeak.mean()+3*df2.Oldpeak.std())]
df3.shape

(902, 13)

In [142]:
df4 = pd.get_dummies(df3, drop_first=True)
df4.head()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease,zscore_cholestrol,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,RestingECG_Normal,RestingECG_ST,ExerciseAngina_Y,ST_Slope_Flat,ST_Slope_Up
0,40,140,289,0,172,0.0,0,0.824621,1,1,0,0,1,0,0,0,1
1,49,160,180,0,156,1.0,1,-0.171867,0,0,1,0,1,0,0,1,0
2,37,130,283,0,98,0.0,0,0.769768,1,1,0,0,0,1,0,0,1
3,48,138,214,0,108,1.5,1,0.138964,0,0,0,0,1,0,1,1,0
4,54,150,195,0,122,0.0,0,-0.034736,1,0,1,0,1,0,0,0,1

In [143]:
df4.shape

(902, 17)

In [102]:
X = df4.drop('HeartDisease', axis=1)
y = df4.HeartDisease

In [103]:
X.shape, y.shape

((902, 16), (902,))

In [104]:
from sklearn.preprocessing import StandardScaler
scalar =  StandardScaler()
X_scaled = scalar.fit_transform(X)
X_scaled

array([[-1.42896269,  0.46089071,  0.85238015, ..., -0.82065181,
        -1.00221976,  1.13805334],
       [-0.47545956,  1.5925728 , -0.16132855, ..., -0.82065181,
         0.99778516, -0.87869344],
       [-1.74679706, -0.10495034,  0.79657967, ..., -0.82065181,
        -1.00221976,  1.13805334],
       ...,
       [ 0.37209878, -0.10495034, -0.61703246, ...,  1.21854359,
         0.99778516, -0.87869344],
       [ 0.37209878, -0.10495034,  0.35947592, ..., -0.82065181,
         0.99778516, -0.87869344],
       [-1.64085227,  0.3477225 , -0.20782894, ..., -0.82065181,
        -1.00221976,  1.13805334]])

In [105]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.3)

In [106]:
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

model_params ={
    'svm' :{
        'model' : SVC(gamma='auto'),
        'params': {
            'kernel':['rbf','linear'],
            'C' : [1,10,20]
        }
    },
    'random_forest':{
        'model': RandomForestClassifier(),
        'params': {
            'n_estimators': [1,5,10]
        }
    },
    'logistic_reg': {
        'model': LogisticRegression(solver='liblinear',multi_class='auto'),
        'params': {
            'C': [1,5,10]
        }
    }
}

In [109]:
from sklearn.model_selection import GridSearchCV

scores = []

for model_name, mp in model_params.items():
    clf = GridSearchCV(mp['model'], mp['params'], cv=5, return_train_score=False)
    clf.fit(X_train, y_train)
    scores.append({
        'model' : model_name,
        'best_params': clf.best_params_,
        'best_score' : clf.best_score_
    })
df = pd.DataFrame(scores,columns=['model','best_score','best_params'])
df

           model  best_score                    best_params
0            svm    0.873228  {'C': 20, 'kernel': 'linear'}
1  random_forest    0.835133           {'n_estimators': 10}
2   logistic_reg    0.870029                       {'C': 1}

In [110]:
clf.score(X_test, y_test)

0.8450184501845018

In [111]:
model = LogisticRegression()
model.fit(X_train, y_train)

LogisticRegression()

In [112]:
model.score(X_test, y_test)

0.8450184501845018

In [113]:
model_svm = SVC()
model_svm.fit(X_train, y_train)

SVC()

In [114]:
model_svm.score(X_test, y_test)

0.8487084870848709

In [115]:
from sklearn.decomposition import PCA
pca = PCA(0.95)

X_pca = pca.fit_transform(X)

In [116]:
pca.n_components_

2

In [122]:
X_train, X_test, y_train, y_test = train_test_split(X_pca, y, test_size=0.2)

In [118]:
model = LogisticRegression(max_iter=1000)
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.7569060773480663

In [119]:
X.shape

(902, 16)

In [120]:
X_pca.shape

(902, 2)

In [121]:
df.head()

           model  best_score                    best_params
0            svm    0.873228  {'C': 20, 'kernel': 'linear'}
1  random_forest    0.835133           {'n_estimators': 10}
2   logistic_reg    0.870029                       {'C': 1}

In [123]:
from sklearn.ensemble import RandomForestClassifier

model_rf = RandomForestClassifier()
model_rf.fit(X_train, y_train)
model_rf.score(X_test, y_test)

0.7182320441988951

In [146]:
df5 = df3.copy()

In [147]:
df5.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,zscore_cholestrol
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0,0.824621
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1,-0.171867
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0,0.769768
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1,0.138964
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0,-0.034736

In [154]:
df5.Sex.unique()

array(['M', 'F'], dtype=object)

In [159]:
df5.ChestPainType.unique()

array(['ATA', 'NAP', 'ASY', 'TA'], dtype=object)

In [161]:
df5.RestingECG.unique()

array(['Normal', 'ST', 'LVH'], dtype=object)

In [168]:
df5.ST_Slope.unique()

array(['Up', 'Flat', 'Down'], dtype=object)

In [170]:
df5.Sex.replace(
    {
        'M':0,
        'F':1
    }, 
    inplace=True)

df5.ChestPainType.replace(
    {
        'ATA':0,
        'NAP':1,
        'ASY':2,
        'TA':3
    },
    inplace=True)

df5.RestingECG.replace(
    {
        'Normal':0,
        'ST':1,
        'LVH':2
    },
    inplace= True)

df5.ExerciseAngina.replace(
    {
        'N':0,
        'Y':1
    },
    inplace= True)

df5.ST_Slope.replace(
    {
        'Up':0,
        'Flat':1,
        'Down':2
    },
    inplace= True)

df5.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,zscore_cholestrol
0,40,0,0,140,289,0,0,172,0,0.0,0,0,0.824621
1,49,1,1,160,180,0,0,156,0,1.0,1,1,-0.171867
2,37,0,0,130,283,0,1,98,0,0.0,0,0,0.769768
3,48,1,2,138,214,0,0,108,1,1.5,1,1,0.138964
4,54,0,1,150,195,0,0,122,0,0.0,0,0,-0.034736

In [173]:
X = df5.drop('HeartDisease', axis=1)
y = df5.HeartDisease

In [174]:
X.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,zscore_cholestrol
0,40,0,0,140,289,0,0,172,0,0.0,0,0.824621
1,49,1,1,160,180,0,0,156,0,1.0,1,-0.171867
2,37,0,0,130,283,0,1,98,0,0.0,0,0.769768
3,48,1,2,138,214,0,0,108,1,1.5,1,0.138964
4,54,0,1,150,195,0,0,122,0,0.0,0,-0.034736

In [178]:
X_scaled_1 = scalar.fit_transform(X)
X_scaled_1

array([[-1.42896269, -0.51485643, -1.6990351 , ..., -0.84676261,
        -1.0456339 ,  0.85238015],
       [-0.47545956,  1.94228905, -0.52558207, ...,  0.14079864,
         0.62072967, -0.16132855],
       [-1.74679706, -0.51485643, -1.6990351 , ..., -0.84676261,
        -1.0456339 ,  0.79657967],
       ...,
       [ 0.37209878, -0.51485643,  0.64787097, ...,  0.33831089,
         0.62072967, -0.61703246],
       [ 0.37209878,  1.94228905, -1.6990351 , ..., -0.84676261,
         0.62072967,  0.35947592],
       [-1.64085227, -0.51485643, -0.52558207, ..., -0.84676261,
        -1.0456339 , -0.20782894]])

In [179]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_scaled_1, y, test_size=0.2, random_state=30)

In [180]:
X_train.shape, X_test.shape

((721, 12), (181, 12))

In [181]:
from sklearn.ensemble import RandomForestClassifier

model_rf = RandomForestClassifier()
model_rf.fit(X_train, y_train)
model_rf.score(X_test, y_test)

0.8674033149171271

In [185]:
X.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,zscore_cholestrol
0,40,0,0,140,289,0,0,172,0,0.0,0,0.824621
1,49,1,1,160,180,0,0,156,0,1.0,1,-0.171867
2,37,0,0,130,283,0,1,98,0,0.0,0,0.769768
3,48,1,2,138,214,0,0,108,1,1.5,1,0.138964
4,54,0,1,150,195,0,0,122,0,0.0,0,-0.034736

In [187]:
pca = PCA(0.95)
X_pca_1 = pca.fit_transform(X)
X_pca_1

array([[ 93.82951717, -29.40975303],
       [-15.58438796, -14.11139273],
       [ 83.30086253,  38.67556976],
       ...,
       [-67.57639341,  17.61571951],
       [ 40.70726141, -33.39647125],
       [-19.91407635, -37.29272944]])

In [188]:
X_train_pca_1, X_test_pca_1, y_train, y_test = train_test_split(X_pca_1, y, test_size=0.2, random_state=30)

In [189]:
from sklearn.ensemble import RandomForestClassifier

model_rf = RandomForestClassifier()
model_rf.fit(X_train_pca_1, y_train)
model_rf.score(X_test_pca_1, y_test)

0.7016574585635359